


<div class="container-fluid mx-auto tex-center">
    <form asp-action="Create" asp-controller="User" class="form-gorup" method="post">
        <label>Name:</label>
        <input name="Name" type="text" class="form-control" />
        <label>Surname:</label>
        <input name="Surname" type="text" class="form-control" />
        <button class="btn btn-success">Create</button>
    </form>
</div>

