@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Hello Bros</h4>


<div class="container text-center">
    <a asp-action="List" asp-controller="User" class="btn btn-primary">Go List of Users</a>
</div>






